<a href="https://colab.research.google.com/github/dinesh2018iitism/Learning-Python-From-PW/blob/main/Data_Structure_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Discuss string slicing and provide examples

In [ ]:
##By using string slicing we can access substring in string.
##Syntax: string [start: end: step]
##Start: Starting index of the sub string
## End: The ending index of the substring.
##Step: Determine Increment between each index. Bydefault step will be one.

In [15]:
s1 = "I am a good Physics Teacher"

In [16]:
s1 [0:4] ##I will give upto 3. 4 will excluded

'I am'

In [17]:
s1 [0:-3] ## It will give upto -4. -3 will be excluded.

'I am a good Physics Teac'

In [19]:
s1 [0:10:2] #Index zero to 9th and step 2

'Ia  o'

In [21]:
s1 [::2] ##Whole string but step will be 2

'Ia  odPyisTahr'

###########################################################################

2. Explain the key features of lists in Python.

In [ ]:
##List is ordered collection of element. It will always maintain the order
##List is Mutable. Element can be changed after the list is created.
## It has dynamic size.
##List can contains element of different data type. like int, float, string.
## Element can be accessed inn list by indexing.
## There are many inbuilt function to manipulate the element is list. like list.remove, list.pop, list.insert etc.
##List can be easily iterated by using loops.
##List can contains list ie nested list.

##############################################################

3. Describe how to access, modify, and delete elements in a list with example

In [2]:
##List can any data type. It is a ordered collection of items,
##If I am going to define a list after that I will explain one by one


grocery_list = ["Apple", "Banana", "Orange", "Potato", "Tomato", "Bringal", "Milk"]

In [3]:
type (grocery_list)  ##Checking type

list

In [6]:
grocery_list [0]  ##To access element in list

'Apple'

In [7]:
grocery_list.append("Butter") ##To add element in list

In [8]:
grocery_list

['Apple', 'Banana', 'Orange', 'Potato', 'Tomato', 'Bringal', 'Milk', 'Butter']

In [9]:
grocery_list.insert (1, "Mango") ##To insert element in particular location

In [10]:
grocery_list

['Apple',
 'Mango',
 'Banana',
 'Orange',
 'Potato',
 'Tomato',
 'Bringal',
 'Milk',
 'Butter']

In [11]:
grocery_list.remove ("Tomato") ##To remove element from list

In [12]:
grocery_list

['Apple', 'Mango', 'Banana', 'Orange', 'Potato', 'Bringal', 'Milk', 'Butter']

In [13]:
grocery_list.pop () ##To remove the last element by default

'Butter'

In [14]:
grocery_list

['Apple', 'Mango', 'Banana', 'Orange', 'Potato', 'Bringal', 'Milk']

#######################################################################

4. Commpare and contrast tuples and lists with examples

In [ ]:
## Tuples are immutable. Once they created we can't change later.
## But List are mutable here we can update element after creation.

my_tuple = (1,2,3,4)
#my_tuple [0] = 5 ## This will throw and error. so here wa can not update element.
my_list= [1,2,3,4]
my_list [0]=5 ## Here we can update the first index element by 5
my_list

[5, 2, 3, 4]

In [ ]:
## Tuple are defined using paranthesis () BUT list defined by using square bracket [].

In [ ]:


## Performance wise tuples are faster than list.

##########################################################################

5. Describe the key features of sets and provide examples of their use.

In [ ]:
##Here I will describe point by point
##1. Uniqueness of elements
s1 = { 1,2,3,4,4, 6, "Diensh", "Halder", "Trichy", "Trichy"} ##here having some duplicate data but in the output all will be unique.
s1

{1, 2, 3, 4, 6, 'Diensh', 'Halder', 'Trichy'}

In [ ]:
##2. Unordered Collection: Elements in set are not stored in any particular order.
##Set does not support indexing or slicing.

s2 = {1,8,3,4}
s2

{1, 3, 4, 8}

In [ ]:
##3. Sets are mutable. Here we can add and delete element after creating set.
s2. add (6) ## 6 will be added in S2
s2

{1, 3, 4, 6, 8}

In [ ]:
## 4. In set we can perform operation like Union, Intersection etc.
s3 = {1, 2, 3, 4, 6, 'Diensh', 'Halder', 'Trichy'}
s4 = {1, 2, 7, 5, 6, 'Bengali', 'Tamil, ' 'Halder', 'Trichy'}
Union= s3 | s4
Intersection= s3 & s4

In [ ]:
Union

{1, 2, 3, 4, 5, 6, 7, 'Bengali', 'Diensh', 'Halder', 'Tamil, Halder', 'Trichy'}

In [ ]:
Intersection

{1, 2, 6, 'Trichy'}

###########################################################################

6. Discuss the use cases of tuples and sets in Python programmimg.

In [ ]:
##Use cases of tuples:
#Tuples are ordered collection of heterogenious elements.
##Tuples are immutable.
##Tuples are faster than list.
##Tuples can be used as key in dictionary.
##Basically we used tuple where we do not want to change or modify the data.
##Like Name, AGE, DOB in Adhaar Card.

tuple = ( "dinesh", "Physics", "mathematics")
## tuple [0] = "Halder" ## This will throw an error.

In [ ]:
##Use cases of sets
##Set is actually unordered collection of unique elements.
##Use use sets uniqueness and membership testing because it does not duplicate element.
##Set provide convenient and efficient way to collection of data where uniqueness are essential.
set = { 1,2,3,4,4, 6, "Diensh", "Halder", "Trichy", "Trichy"} ##Some elements are repeated
##In the output there will no duplicate data.

{1, 2, 3, 4, 6, 'Diensh', 'Halder', 'Trichy'}

#############################################################################

7. Describe how to add, modify, and delete items in a dictionary with examples.

In [ ]:
## Here we will see one by one with examples

In [ ]:
d = { "name": "Dinesh", "age": 29, "gender": "Male", "city": "Trichy", "state": "TamilNadu"}

In [ ]:
type (d) # for checking type

dict

In [ ]:
d ["city"]="Salem" #It will update the city

In [ ]:
d

{'name': 'Dinesh',
 'age': 29,
 'gender': 'Male',
 'city': 'Salem',
 'state': 'TamilNadu'}

In [ ]:
len (d) #for cheking length

5

In [ ]:
d1 = {"course": "ds"}
d.update (d1) ##for updating the dictionary

In [ ]:
d

{'name': 'Dinesh',
 'age': 29,
 'gender': 'Male',
 'city': 'Salem',
 'state': 'TamilNadu',
 'course': 'ds'}

In [ ]:
del d ["age"] ##for deleting the age
d

{'name': 'Dinesh',
 'gender': 'Male',
 'city': 'Salem',
 'state': 'TamilNadu',
 'course': 'ds'}

#############################################################################

8. Discuss the importance of dictionary keys being immutable and provide examples.

In [ ]:
##Dictionary is data type or data strcuture that store data in key value pair.
##Dictionary keys must be immutable. we can not change or update the dictionary key. The immutability is crucial for several reason like Hashbility, performance and data integrity.
##Integer, float and boolean value can be used as key.
##Here I am going to give some example:

In [ ]:
d1={1:"Dinesh", 2: "Halder"} ##Integer float and boolean value can be used as key
d1

{1: 'Dinesh', 2: 'Halder'}

In [ ]:
type (d1)

dict

In [ ]:
## @, #, and list can not be used as key is dictionary.

##d2 = {@:"Dinesh" }
## d3 = {#: "Halder"}
## d4 = { [1,2,3]: "Dinesh"}
##This all above will throw error.

In [ ]:
## But tuple can be used as key in dictionary
dist = { (1,2,3): "Physics"}

In [ ]:
type (dist)

dict