<a href="https://colab.research.google.com/github/dinesh2018iitism/Learning-Python-From-PW/blob/main/Data_Structure_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a code to reverse a string.

In [ ]:
String1= "DataScience"
reverse_string= String1[::-1]
print (reverse_string)

ecneicSataD

2. Write a code to count the number of vowels in a string

In [ ]:
name ="DINESHalder"
for i in name:
  if i in "aeiouAEIOU":
     print (i)

I
E
a
e

3.	Write a code to check if a given string is a palindrome or not.

In [ ]:
string2 = "malayalam"
reverse_string2= string2 [::-1]
if string2 == reverse_string2:
  print ("String is Palindrome")
else:
    print ("String is not Palindrome")

String is Palindrome

In [ ]:
string2 = "dinesh"
reverse_string2= string2 [::-1]
if string2 == reverse_string2:
  print ("String is Palindrome")
else:
    print ("String is not Palindrome")

String is not Palindrome

4.	Write a code to check if two given strings are anagrams of each other.

In [ ]:
String3= "listen"
String4= "silent"
if sorted(String3)==sorted(String4):
  print ("Both Strings are Anagrams")
else:
  print("Strings are not anagrams")

Both Strings are Anagrams

In [ ]:
String3= "DINESH"
String4= "NESDHI"
if sorted(String3)==sorted(String4):
  print ("Both Strings are Anagrams")
else:
  print("Strings are not anagrams")

Both Strings are Anagrams

5. Write a code to find all occurrences of a given substring within another string.

In [ ]:
string5 = "I am learning Data Science from PWSkills"
sub_string= ['l','s', 'c']
for i in sub_string:
  if i in string5:
    print ("I Found",i)
  else:
    print ("NOT FOUND")

I Found l
I Found s
I Found c

In [ ]:
string5 = "I am learning Data Science from PWSkills"
sub_string= ['z','x', 'o']
for i in sub_string:
  if i in string5:
    print ("I Found",i)
  else:
    print ("NOT FOUND",i)

NOT FOUND z
NOT FOUND x
I Found o

6.	Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
s = "aabcccccaaa"
compressed_string = ""
count = 1
for i in range(1, len(s)):
    if s[i] == s[i - 1]:
        count+=1
    else:
        compressed_string += s[i - 1] + str(count)
        count = 1
compressed_string += s[-1] + str(count)
print(f"Original string: {s}")
print(f"Compressed string: {compressed_string}")
if len(compressed_string) >= len(s):
    compressed_string = s
print(f"Final string: {compressed_string}")

Original string: aabcccccaaa
Compressed string: a2b1c5a3
Final string: a2b1c5a3

7.	Write a code to determine if a string has all unique characters.

In [ ]:
string7 = "dinesh"
string8= set() ##Empty set
x = True
for i in string7:
    if i in string8:
        x= False
        break
    string8.add(i)
print(x)

True

8.	Write a code to convert a given string to uppercase or lowercase.

In [ ]:
string9 = "DINESH"
string9.lower()

'dinesh'

In [ ]:
string9 = "halder"
string9.upper()

'HALDER'

9.	Write a code to count the number of words in a string.

In [ ]:
string10 = "I am learning Data Science from PWSkills"
word= string10.split ()
len (word)

7


10.	Write a code to concatenate two strings without using the + operator.

In [ ]:
a = "DINESH"
b = "HALDER"
c= a+b
c

'DINESHHALDER'

11.	Write a code to remove all occurrences of a specific element from a list.

In [ ]:
list1 = ["apple", "banana", "grapes", "apple","orange", "apple"]

repeated= "apple" # we want to remove apple

list2 = [x for x in list1 if x != repeated]

In [ ]:
list2

['banana', 'grapes', 'orange']

12.	Implement a code to find the second largest number in a given list of integers.

In [ ]:
list3 = [10, 20, 20, 4, 45, 45, 50, 100, 23]
list4 = list(set(list3))
list4.sort()
print("Second largest element is:", list4[-2])

Second largest element is: 50

13.	Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [ ]:
list5 = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
count_dict = {}
for element in list5:
    if element in count_dict:
        count_dict[element] += 1
    else:
        count_dict[element] = 1

print(count_dict)

{'apple': 3, 'banana': 2, 'orange': 1}

14.	Write a code to reverse a list in-place without using any built-in reverse functions.

In [ ]:
my_list = [1, 2, 3, 4, 5]
left = 0
right = len(my_list) - 1
while left < right:
    my_list[left], my_list[right] = my_list[right], my_list[left]
    left += 1
    right -= 1
print(my_list)

[5, 4, 3, 2, 1]

15.	Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
list7 = [1, 2, 3, 2, 4, 1, 5, 3]
set1= set()
list8= []
for element in list7:
    if element not in set1:
        set1.add(element)
        list8.append(element)
print(list8)

[1, 2, 3, 4, 5]

16.	Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [ ]:
my_list = [1, 2, 3, 4, 5]
if my_list == sorted(my_list):
    print("The list is sorted in ascending order.")
elif my_list == sorted(my_list, reverse=True):
    print("The list is sorted in descending order.")
else:
    print("The list is not sorted.")

The list is sorted in ascending order.

17.	Write a code to merge two sorted lists into a single sorted list.

In [ ]:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
merged_list = []
i, j = 0, 0
while i < len(list1) and j < len(list2):
    if list1[i] < list2[j]:
        merged_list.append(list1[i])
        i += 1
    else:
        merged_list.append(list2[j])
        j += 1
while i < len(list1):
    merged_list.append(list1[i])
    i += 1
while j < len(list2):
    merged_list.append(list2[j])
    j += 1
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8]

18.	Implement a code to find the intersection of two given lists.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
set1 = set(list1)
set2 = set(list2)
intersection = set1 & set2
intersection_list = list(intersection)
print(intersection_list)

[4, 5]

19.	Create a code to find the union of two lists without duplicates.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
union_set = set(list1) | set(list2)
union_list = list(union_set)
print(union_list)

[1, 2, 3, 4, 5, 6, 7, 8]

20.	Write a code to shuffle a given list randomly without using any built—in shuffle functions.

In [ ]:
import random
my_list = [1, 2, 3, 4, 5]
for i in range(len(my_list) - 1, 0, -1):
    j = random.randint(0, i)
    my_list[i], my_list[j] = my_list[j], my_list[i]
print(my_list)

21.	Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
set1 = set(tuple1)
set2 = set(tuple2)
common_elements = set1 & set2
common_tuple = tuple(common_elements)
print(common_tuple)

(4, 5)

22.	Create a code that prompts the user to enter two sets of integers separated by commas.Then print the intersection of these two sets.

In [ ]:
input1 = input("Enter the first set of integers separated by commas: ")
input2 = input("Enter the second set of integers separated by commas: ")
set1 = set(map(int, input1.split(',')))
set2 = set(map(int, input2.split(',')))
intersection = set1 & set2
print("The intersection of the two sets is:", intersection)

Enter the first set of integers separated by commas: 4,6,7
Enter the second set of integers separated by commas: 4,3
The intersection of the two sets is: {4}

23.	Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

24.	Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [ ]:
input1 = input("Enter the first set of strings separated by commas: ")
input2 = input("Enter the second set of strings separated by commas: ")
set1 = set(input1.split(','))
set2 = set(input2.split(','))
difference = set1 - set2
print("Elements present in the first set but not in the second set:", difference)

Enter the first set of strings separated by commas: 3,6,7
Enter the second set of strings separated by commas: 6,8,9
Elements present in the first set but not in the second set: {'7', '3'}

25.	Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [1]:
list15 = [1, 2, 5, 6]
func= [(x, pow(x, 3)) for x in list15]
print(func)

[(1, 1), (2, 8), (5, 125), (6, 216)]

26.	Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [2]:
input1 = input("Enter the first set of characters (without spaces): ")
set1 = set(input1)
input2 = input("Enter the second set of characters (without spaces): ")
set2 = set(input2)
union_set = set1.union(set2)
print("The union of the two sets is:", union_set)

Enter the first set of characters (without spaces): 1,4.5
Enter the second set of characters (without spaces): 4,6,7
The union of the two sets is: {'4', '1', '7', '6', ',', '.', '5'}

27.	Develop a code thot takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [3]:
input_tuple = (4, 1, 9, 6, 3, 7)
max_value, min_value = max(input_tuple), min(input_tuple)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 9
Minimum value: 1

28.	Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets.

In [5]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)
print("Union of set1 and set2:", union_set)
print("Intersection of set1 and set2:", intersection_set)
print("Difference of set1 and set2:", difference_set)

Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of set1 and set2: {4, 5}
Difference of set1 and set2: {1, 2, 3}

29.	Write a code that takes a tuple and on element as input. The function should return the count of occurrences of the given element in the tuple.

In [6]:
input_tuple = (1, 2, 3, 4, 2, 2, 5, 2)
element = 2
if not isinstance(input_tuple, tuple):
    raise TypeError("input_tuple must be a tuple")
count = input_tuple.count(element)
print(f"The element {element} occurs {count} times in the tuple.")

The element 2 occurs 4 times in the tuple.

30.	Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [10]:
input1 = input("Enter the first set: ")
set1 = set(input1.split())
input2 = input("Enter the second set: ")
set2 = set(input2.split())
symmetric_difference_set = set1^set2
print("The symmetric difference of the two sets is:", symmetric_difference_set)

Enter the first set: apple, banana, grapes
Enter the second set: banana, orange, grapes
The symmetric difference of the two sets is: {'apple,', 'orange,'}


31.	Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [13]:
words = input("Enter a list of words")
words1=word.split()
word_frequencies = {}
for word in words1:
    if word in word_frequencies:
        word_frequencies[word] += 1
    else:
        word_frequencies[word] = 1
print("Word frequencies:", word_frequencies)

Enter a list of wordsapple banana apple cherry banana apple
Word frequencies: {'apple': 3, 'banana': 2, 'cherry': 1}

32.	Write a code that takes two dictionaries as input and merges them into a single dictionary. If there ore common keys, the values should be added together.

In [14]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}
merged_dict = dict1.copy()
for key, value in dict2.items():
    if key in merged_dict:
        merged_dict[key] += value
    else:
        merged_dict[key] = value
print("Merged dictionary:", merged_dict)

Merged dictionary: {'a': 1, 'b': 5, 'c': 7, 'd': 5}

33.	Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

In [ ]:
##I need expert help to understand this problem.

34.	Write a code thot takes a dictionary as input and returns a sorted version of it based on the values. You con choose whether to sort in ascending or descending order.

In [ ]:
##I need expert help to understand this problem.

35.	Write a code that inverts a dictionary, swapping keys and values. Ensure thot the inverted dictionary correctly handles cases where multiple keys have the some value by storing the keys as a list in the inverted dictionary.

In [ ]:
##I need expert help to understand this problem.