<a href="https://colab.research.google.com/github/dinesh2018iitism/Learning-Python-From-PW/blob/main/My_First_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Explain the key features of Python that make it a popular choice for programming.

Ans:
There are many key features of python that make it is the best choice for programming.
Here i am listing some them-
I. There are lots of Inbuilt Function.
II. Free and Open Source.
III. Ease to code, debug.
IV. Large number of libraries are present in Python.

2.Describe the role of predefined keywords in Python and provide examples of how they are used in a program

Ans:

Predefined keywords are fundamental in python programming.
Keywords help us to write the code in an easier way.

Example: if, elif, else
These keywords decide what code to run based on condition.

In [3]:
##Example:

temp = 30
if temp > 30:
  print ("Its a hot day")
else:
  print ("its not hot")

its not hot

3. Compare and contrast mutable and immutable objects in Python with examples

In [4]:
##Mutable Object: Here element can be changed after creation.

my_list = ["apple", "banana", "orange"]

In [5]:
my_list

['apple', 'banana', 'orange']

In [6]:
my_list [2]

'orange'

In [8]:
my_list[2]= "grapes"

In [9]:
my_list

['apple', 'banana', 'grapes']

In [10]:
##See here the 3rd element now got updated

In [12]:
##Immutable:  Here element can not be changed after creation.
## like tuple

my_tuple = ("dinesh", "halder", "Physics")

In [13]:
my_tuple

('dinesh', 'halder', 'Physics')

In [14]:
my_tuple [2]

'Physics'

In [15]:
my_tuple [2] = "chemistry"
 ###Here item assignment does not possible.

TypeError: 'tuple' object does not support item assignment

4. Discuss the different types of operators in Python and provide examples of how they are used.


Operator: Operation to manupulate DATA.

Special Keywords OR Symbols that use to perform operation on values or variables.

Why we need them: Manage to do computation and make decision by using data.

Types of Operator

Arithmetic Operator

Comparision Operator

Logical Operator

Bitwise Operator

Assignment Operator

Identity Operator

Membership Operator

In [16]:
####Arithmetic Operator
a = 2
b=3
a + b

5

In [17]:
##Direct Operation Also Possible
87+879940

880027

In [18]:
21/4

5.25

In [21]:
78%3
##Modulus for Finding Remainder

0

In [19]:
2!=2
## != is sign for not equal
## == is sign for equal

False

In [20]:
2**3
##Double asterisk for Power

8

In [22]:
True and True

True

In [23]:
a = 10
a+5

15

5. Explain the concept of type casting in Python with examples



Type Casting are Two Types:

Implicit Type Casting

when we are changing from one data type to another data type that we called implict data type.

Explicit Type Casting

Here if i write

a = "DINESH

b = 5

a +b will be invalid

BUTTTTT

In [24]:
##This is the example of explicit type casting
a = "Dinesh"
b = "Halder"
a+b

'DineshHalder'

6.  How do conditional statements work in Python? Illustrate with examples

In [ ]:
##Conditional Statement - if , if else, if elif else, nested if else

If Statement:

If the condition is true:

The block of the code will  execute

if the condtion is not true the block of code will not work.

it is not going to give any output to us.

In [26]:
num=9
if num%2!=0:
  print("The number is odd number")

The number is odd number

In [25]:
###If else statement

weather= "Sunny"
if weather == "Sunny":
  print ("i will play cricket")
else:
    print ("I will watch TV")

i will play cricket

In [27]:
##if elif else statement

score = 25
if score > 90:
  print ("grade AA")
elif 80 <score<=90:
  print ("Grade A")
elif 70<score<=80:
  print ("grade B+")
elif 60 <score<=70:
  print ("Grade B")
elif 50<score<=60:
  print ("grade C+")
elif 40 <score<=50:
  print ("Grade C")
elif 30<score<=40:
  print ("grade C+")
else:
  print ("you are fail")

you are fail

7. Describe the different types of loops in Python and their use cases with examples

In [28]:
##While Loop:

##it allow us to execute a block of code repeatedly until the condition is met.
n = 7
i= 1
while i <n:  ##While condition
  print (i) ##Block of code
  i=i+1

1
2
3
4
5
6

In [29]:
count = 5
while count > 0:
  print (count)
  count = count - 1

5
4
3
2
1

In [30]:
###

##For Loop Statemenet:

##Iterate over a sequence of elements

list = [1,2,"Dinesh", "Halder", "Physics", "Mathenarics"]
for i in list:
  print (i)

1
2
Dinesh
Halder
Physics
Mathenarics

In [31]:
list = [1,2,"dinesh", "Halder", "Physics", "Mathenarics"]
for i in list:
  if i=="dinesh":
    continue
  else:
    print(i)

1
2
Halder
Physics
Mathenarics

In [32]:
row=1
while row<=10:
  col=1
  while col<=row:
    print("*",end=" ")
    col=col+1
  print()
  row=row+1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *